.body{
  overflow: hidden;
  background-color: rgb(210, 167, 111);
}
.header {
      margin: 0;
      display: flex; 
      font-family: Arial, sans-serif;
      align-items: center;
      position: fixed;
      top: 0;
      padding: 15px 40px;
      z-index: 1000;
      width: 100%;
      /* box-shadow: 2px 2px 2px rgba(0,0,0,1); */
      background: #1e678f;
    }

    .logo{
        display: flex;
        gap: 10px;
        height:50px
    }
    .logo p{
        color:white;
        height: 50px;
        font-style: italic;
        font-family: "Times New Roman";
        font-weight: bolder;
    }
    
    .nav{
      color: white;
      display: flex;
      gap: 70px;
      margin-left: 150px;
    }
    .nav a{
      text-decoration: none;
      color: white;
      font-style:italic;
      font-family:"Times New Roman";
      font-size: larger;
    }
    .socials{
     margin-left: 90px;
    }
    /* ===== About Section ===== */
.about-section {
  padding: 60px 10%;
  background: #fff;
}

.section-title {
  font-size: 28px;
  text-align: center;
  justify-items: center;
 
}


/* ===== About Content Layout ===== */
.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.about-image img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.about-content {
  flex: 1;
  min-width: 280px;
}

.about-content h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.about-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.about-info p {
  margin: 6px 0;
}

.about-info strong {
  color: #111;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-info {
    flex-direction: column;
    align-items: center;
  }

  .about-image img {
    width: 250px;
  }
}.all{
        background-color: antiquewhite;
    }
    .copy{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
     }
     .copy cop{
      width: 1%;
      height: 1%;
     }
     .soc{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
     }
      .x{
        width: 30px;
        height: auto;
      }
      .fb{
       width: 30px;
        height: auto; 
      }
      .li{
      width: 30px;
      height: auto;
      }
      .wh{
        width: 40px;
        height: auto;
      }